/* I have decied to use a common CSS to style all five wireframes. Let's see if I can do it*/


/*I have also decided not to write media query for this assignment, because it has other important things to learn. Writing media query can be done once, I finished understading assignment which include making and validating the form.*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 30px;
    background-color: rgb(33, 31, 26);
    color: rgb(240, 237, 230);
}

/* Header is styled here. It worked for all the five wireframes. */
header{
    height: 40px;
    background-color: orange;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;   
    align-items: center;
    position: relative;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;  
    margin-left: 15px;
    margin-right: 15px;   
}

header ul li a{
    color: black;
    text-decoration: none;
}

/* Navigation bar is styled here. Navigation bar is shrinked to 50%. I am not able to take it screenwide. Ooops 


update -- I re-wrote the codes in html and now navigation is perfectly fine. It is also working good for all the five wireframes.   yeahhhh!!!!*/

nav{
    margin-bottom: 20px;
    border-bottom: 2px solid orange;
}

nav div{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-right: 10px;
    color: orange;
    align-items: center;
    height: 50px;
}

nav div a{
    color: orange;
    text-decoration: none;
}

nav div .logo img{
    height: 50px;
    width: 100px;
}





/* Description in main body will be stylled here. It will be part of the form, so may be I need to chage the codes.

This is working for all woreframes. */

main{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

.description h1{
    margin-bottom: 40px;
    margin-left: 2px;
    font-size: 40px;
    font-weight: bold;
}

.description p{
    text-align: left;
    margin-right: 150px;
    margin-left: 10px;
    width: 700px;
    line-height: 25px;
}


/* progress bar is styled here. It is working for all wireframes*/

form .progress .progress-bar p{
    position: relative;
    width: 780px;
    height: 20px;
    background-color: rgb(65, 65, 60);
    margin-left: 1px;
    border: 2px solid orange;
    border-radius: 25px;
}


form .progress .progress-bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background-color:orange ;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}





/* Form will be styled here.

Hopefully these styles are working for all five wireframes. */

form{
    width: 800px;
    border-radius: 1%;
    border: 2px solid orange;
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px;
}

form h2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
    margin-bottom: 30px;
    margin-top: 20px;
}

form h3{
    color: orange;
}

form p{
   margin-top: 10px;
   margin-bottom: 20px;   

}


/* Buttons are styled here. And they are working perfectly for all the five wireframes.*/

.button{
    display: flex;
    justify-content: space-between;    
    margin-top: 30px;
    margin-bottom: 10px;
}

.button .reset button,
.button .submit button{
    height: 40px;
    width: 100px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.button .reset button a,
.button .submit button a{
    text-decoration: none;
    color: black;
}




/* Footer is styled here onwards

Footer is working for first 4 wireframes. But it should be wider and better for the last wireframe, becuase it contents more links.

New class name should help in that case.

This footer is working for wireframe step 1, step 2, step 3 anf step 4. Footer for wireframe step 5 is separetely styled.*/
footer{
    height: 50px;
    padding: 0;
    background-color: orange;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}
   
footer p{
    margin-left: 20px;
}

   




/* These are related to the step1, wireframe part one.   */

.name,
.address{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.name .first-name,
.name .last-name,
.address .street,
.address .post-code{
   
    
}

.name .first-name input,
.name .last-name input,
.address .street input,
.address .post-code input,
.country select{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    background-color: antiquewhite;
    border-color: orange;
}

/* Wireframe - Step1 -- Profile description is styled here */
.profile{
    display: flex;
    margin-top: 35px;    
}

.profile span{
    font-size: 20px;
    font-weight: bold;
}

.profile p{
    font-size: 10px;
    line-height: 15px;
}

.profile label{
    width: 25%;
    margin-right: 20px;
}

/* The line is not breaking automatically in the input section. The typed text can not be seen as the line is displayed as one long sentence. */
.profile textarea{
    width: 75%;
    background-color: antiquewhite; 
    border-color: orange;  
    text-align: justify;
    overflow-wrap: break-word;
    padding: 2px;
    left: 1%;
    right: 1%;
}

.shipping input{
    height: 20px;
    width: 20px;
    background-color: antiquewhite;
    border-color: orange;    
}


/*Wireframe - Step2 -  */

form .contact{
    display: flex;
    justify-content: space-between;
    text-align: left;
}


.contact .email input, 
.contact .phone input,
.password input{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    background-color: antiquewhite;
    border-color: orange;
}

.newsletter p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.newsletter ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.newsletter ul li input{
    margin-left: 8px;
}






/* Wireframe - Step3 -  Style for images in wireframe part3 is being done here. 

I cannot move select to right position.*/


form .option{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
}


form .option input{
    margin-right: 170px;

}


.choose{
    width: 770px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    line-height: 15px;    
}

.choose label{
   color: orange;
}

.choose label img{
    height: 225px;
    width: 170px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid orange;
    border-radius: 15px;

}

.choose input checkbox{
    height: 200px;
    width: 20px;
    background-color: antiquewhite;

}



/* Wireframe - Step 4 -  Style for images in wireframe part3 is being done here. 

I cannot move select to right position.

for some reason 'irst name' is hanging in the air. I need to brign it don close to the input box.*/

.card-number{
    display: flex;
    justify-content: space-between;
}



.card-name input,
.card-type select,
.card-number .number input,
.card-number .name input{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    background-color: antiquewhite;
    border-color: orange;
}


.details{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.details .expiry-month input,
.details .expiry-year input,
.details .ccv-number input{
    width: 70px;
    height: 30px;
    margin-top: 20px;
    background-color: antiquewhite;
    border-color: orange;
    margin-right: 12px;
}


/* Wireframe - Step 5 - */


main .message{
    width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 5px;
    border-radius: 1%;
    display: block;
    align-items: center;
    
}

main .message div{
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: orange;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}


footer{
    position: relative;
    margin-bottom: 0px;
}

footer .footer{
    height: 130px;
    background-color: orange;

}

.footer .social-media{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 300px;
}

.footer .footer-details{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
}

.footer .footer-details a{
    text-decoration: none;
    color: black;
   
}

.footer .social-media i{
    font-size: 38px;
    margin-bottom: 5px;
    color: black;
    margin-top: 10px;
}