* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 221, 209);
    font-family: 'Times New Roman', Times, serif;
}


#part1,
#part2 {
    width: 400px;
}

#button_1,
#button_2,
#button_3 {
    width: 100px;
    height: 40px;
    background-color: rgb(116, 43, 43);
    color: white;
    border-radius: 10px;
    border: red solid 2px;
    margin: 100px;
    font-weight: bold;
    font-size: 14px;
}

#geoLocation {
    width: 300px;
    color: rgb(116, 43, 43);
    line-height: 30px;
}