* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 221, 209);
    font-family: 'Times New Roman', Times, serif;
}

#button_1,
#button_2 {
    width: 120px;
    height: 40px;
    background-color: rgb(116, 43, 43);
    color: white;
    border-radius: 10px;
    border: red solid 2px;
    margin: 150px;
    font-weight: bold;
    font-size: 14px;
}