* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e3ebd2;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

h1 {
    color: rgb(19, 55, 100);
    padding-top: 10px;
    margin-top: 10px;
    font-weight: 100px;
    
}

div {
    margin-left: 12px;
    font-size: 15px;
    color: rgb(99, 22, 22);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
