.form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
}

label {
    margin: 10px;
    color: #f1356d;
    font-weight: bold;
    
    

}


input {
    margin: 10px;
    width: 70%;
}

button {
    background-color: rgb(244, 239, 239);
    color: #f1356d;
    font-weight: bold;
    border-radius: 15px;
    width: 60px;
    border: none;
    margin: 10px;
    padding: 5px;
}

